html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}

header,footer {
  display: flex;
  align-items: center;
  background-color: #ff6b4a;
  height: 150px;
  padding-left: 5px;

}

.menu {
  display: flex; 
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu a {
  display:block;                /* Transformation en block */
  min-width: 120px;             /* Largeur minimale des liens */
  margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;           /* Centrage du texte */   
  background-color: #ffe4e0;    /* Couleur d'arrière-plan */
  color: #000000;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  border: 1px solid #fff;       /* Ajout d'une bordure */
  border-radius: 4px;           /* Arrondis des bordures */
  justify-content: center     /* Alignements des liens dans le menu */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Roboto" ;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.title2{
  text-align: center;
}

.produitMoment{
  border: 1px solid black; padding: 5px;
  border-radius: 30px;
}

.flottantGauche{
  float: left;
}
.flottantDroite{
  float: right;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #c93241;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  margin-left: 10px;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: #c93241;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px #c93241,
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


/* style formulaire */ 

.contactez-nous {
width: 100%;
border: 1px solid;
border-radius: 8px;
padding: 0 50px 0 50px;
background: white;
margin-top: 20px;
}

.contactez-nous > h1 {
font-weight: 500;
}

.contactez-nous > p {
font-weight: 300;
}

form div {
width: 100%;
display: flex;
flex-direction: column;
min-height: 83px;
margin-top: 25px;
}

form div > label {
margin-bottom: 7px;
font-weight: 600;
}

form div > input, form div > select, form div > textarea {
background: #c93241;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: Montserrat, "sans-serif";
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select {
height: 50px;
padding-left: 10px;
}

form div > textarea {
height: 195px;
padding: 15px 0px 0px 10px;
}

form div > input::placeholder, form div > textarea::placeholder {
color: white;
}

form div > select:invalid {
color: white;
}

form div > select option {
background: white;
color: #303030;
}

form div:last-child {
align-items:center;
margin-top: 20px;
}

form button {
width: 450px;
max-width: 500px;
height: 60px;
font-weight: 700;
font-size: 28px;
background: white;
border: rgba(48, 48, 48, 0.5) solid 1px;
border-radius: 5px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
color: #303030;
}


.menuFooter{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px;
  margin: 0;

}

.menuFooter a{
  display:block;                /* Transformation en block */
  min-width: 120px;             /* Largeur minimale des liens */
  margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;           /* Centrage du texte */   
  color: #fff;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  justify-content: center     /* Alignements des liens dans le menu */
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

